/*generella förändringar*/

* {
    box-sizing: border-box;
    box-shadow: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f7f6f1;
}
/*navbar styling*/
.navbar-custom {
    background-color: #f7f6f1;
    color: #6b752b; /* se till att texten syns */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-toggler-icon {
    padding-left: 1rem;
    font-family: 'Marcellus', serif;
    font-weight: bold;
    color: #f7f6f1;
    background-color: #f7f6f1;
    color: #5b6614; /* se till att texten syns */
}

/*första bildens styling (här kommer jag behöva mer hjälp för att förstå vad det är jag har gjort och vad som gör vad*/
img {
    width: 100%;
}
#andasdinsanning .image-container {
    position: relative;
    width: 100%;
    height: 55vh;
    overflow: hidden;
}
#andasdinsanning img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#andasdinsanning img {
    display: block;
    width: 100%;
    height: 100%;
}

/* overlay */
/*
#andasdinsanning .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f6f1;
}*/

.about {
    display: flex;
    flex-direction: column;
}
.about {
    font-size: 1.2rem;
    font-family: 'Marcellus', serif;
    color: #6b752b;
    background-color: #f7f6f1;

    padding: 2.5rem;
}
.about > h2 {
    font-weight: bold;
}

/*Tjänster*/
div {
    font-size: 1.2rem;
    font-family: 'Marcellus', serif;
    color: #6b752b;
    background-color: #f7f6f1;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#container .contanier{
    grid-template-areas:
    'my-services my-services'
    'free-call breathwork-group'
    'onetoone coachandguide'
    ;
}


/*.container {
    background-color: #f7f6f1;
    padding: 1.5rem;
}*/

/*coral=f46249
beige= d4ae6f
ljus beige= e7d0a8
grön=#7a8631
nästan vit=f7f6f1
*/
