/*Generell stling*/

* {
    box-sizing: border-box;
    box-shadow: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f7f6f1;
}
/*Navbar styling*/
.navbar-custom {
    background-color: #f7f6f1;
    color: #5b6614; /* se till att texten syns */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-toggler-icon {
    padding-left: 1rem;
    font-size: 1.6rem;
    font-family: 'Marcellus', serif;
    font-weight: bold;
    color: #f7f6f1;
    background-color: #f7f6f1;
    color: #5b6614; /* se till att texten syns */
}
a.nav-link {
    color: #5b6614 !important;
}

/*Banner styling*/
img {
    width: 100%;
}
#andasdinsanning .image-container {
    position: relative;
    width: 100%;
    height: 55vh;
    overflow: hidden;
}
#andasdinsanning img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#andasdinsanning img {
    display: block;
    width: 100%;
    height: 100%;
}

/*Hem styling*/
#first-page{
    font-size: 1.2rem;
    font-family: 'Marcellus', serif;
    color: #5b6614;
    background-color: #f7f6f1;
    padding: 2rem;
    padding-top: 3rem;
}
#first-page >h2{
    font-weight: bold;
}

#about {
    font-size: 1.2rem;
    font-family: 'Marcellus', serif;
    color: #5b6614;
    background-color: #f7f6f1;
    padding: 1rem 2rem 2rem 2rem;
}
#about > h2 {
    font-weight: bold;
}

#about{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    grid-template-areas:
    'whatisbreathwork picture'
    'meaningofcoaching picture'
    'whoami picture'
    ;

}

@media screen and (max-width:430px){
    #home{
        justify-content: center;
    }
}
@media screen and (max-width:430px){
    #about{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'whatisbreathwork'
        'meaningofcoaching'
        'picture'
        'whoami'
        ;
    }
}

/*Tjänster styling*/
main {
    font-size: 1.2rem;
    font-family: 'Marcellus', serif;
    color: #5b6614;
    background-color: #f7f6f1;
}

#my-services{
    padding: 1.5rem;
}

/*Images tjänster styling*/
#services .image-container{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}



#services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr 2fr 2fr;
    grid-template-areas:
    'image-one image-two'
    'my-services my-services'
    'free-call breathwork-group'
    'onetoone coachandguide'
    ;
}


@media screen and (max-width:430px){
    #services{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'image-two'
        'my-services'
        'free-call'
        'breathwork-group'
        'image-one'
        'onetoone'
        'coachandguide'
        ;
    }
}

@media screen and (max-width:430px) {
    #services .image-container{
    display: block;
    width: 100%;
    height: 100%;
    }
}

@media screen and (max-width:430px){
    .container{
        padding: 2rem;
    }
}


/*Kontakt styling*/


#contact{
    background-color: #f7f6f1;
    color:#5b6614;
    font-family: 'Marcellus', serif;
}


 /*Footer styling*/
 footer{
    background-color: #f7f6f1;
    color:#5b6614;
    font-family: 'Marcellus', serif;
    text-align: center;
    padding-top: 2rem;
 }


 /*Färger*/
/*coral=f46249
beige= d4ae6f
ljus beige= e7d0a8
grön=#7a8631
nästan vit=f7f6f1
*/
